* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #181818;
  padding-top: 24px;
  padding-bottom: 24px;
}

header .container {
  max-width: 1200px;
  margin: auto;
  padding-left: 32px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header nav ul li {
  margin-left: 32px;
}

header nav ul li a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

header nav ul li:first-of-type {
  margin-right: 24px;
}

header nav ul li:first-of-type a {
  font-size: 13px;
}

header nav ul li:last-of-type {
  margin-left: 31px;
}

header nav ul li:last-of-type a {
  background: #ffffff;
  border-radius: 14px;
  padding: 11px 20px;
  font-size: 16px;
  color: #000000;
}

/*main banner */

.main_banner {
  background-image: url(../images/background.jpg);
  background-size: cover;
  height: calc(100vh - 83px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 71px;
  box-sizing: border-box;
  position: relative;
}

.main_banner article {
  max-width: 580px;
  text-align: center;
  font-family: "Poppins";
}

.main_banner article h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
}

.main_banner article h1 {
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  margin-bottom: 18px;
  color: #ffffff;
}

.main_banner article p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}

/* What we do */

.what_we_do {
  background-color: #000000;
  padding-top: 113px;
  padding-bottom: 84px;
}

.what_we_do .container {
  max-width: 1168px;
  margin: auto;
}

.what_we_do h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

.what_we_do h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #c0c0c0;
  margin-bottom: 42px;
}

.what_we_do .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.what_we_do .cards article {
  max-width: 576px;
  margin-bottom: 16px;
  position: relative;
}

.what_we_do .description {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.what_we_do .cards article img {
  display: block;
  width: 100%;
}

.what_we_do .description h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
}

.what_we_do .description p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  margin-bottom: 20px;
}

.what_we_do .description a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  background-color: #ffffff;
  padding: 5px 10px 5px 4px;
  border-radius: 14px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.what_we_do .description a::before {
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
  margin-right: 6px;
  display: inline-block;
}

/*Sunset*/

.sunset {
  background-image: url(../images/background_2.jpg);
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 62px;
  box-sizing: border-box;
  position: relative;
}

.sunset article {
  max-width: 298px;
}

.sunset article h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.sunset article p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}

/*Monstera*/

.monstera {
  background-image: url(../images/background_3.jpg);
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 87px;
  box-sizing: border-box;
  position: relative;
}

.monstera article {
  max-width: 273px;
}

.monstera article h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.monstera article p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}

/* Past clients */

.past_clients {
  padding-top: 113px;
  padding-bottom: 140px;
  background: #000000;
}

.past_clients .container {
  max-width: 1168px;
  margin: 0 auto;
}

.past_clients h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

.past_clients h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #c0c0c0;
  margin-bottom: 82px;
}

.past_clients .past_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Star*/

.star {
  background-image: url(../images/background_4.jpg);
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 119px;
  box-sizing: border-box;
  position: relative;
}

.star article {
  max-width: 254px;
}

.star article h4 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.star article p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}

/*Photography*/

.photography {
  background-color: #000000;
  padding-top: 113px;
  padding-bottom: 108px;
}

.need_help {
  max-width: 571px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.photography div article h2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}

.photography div article p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 22px;
  text-align: center;
  color: #c0c0c0;
}

.photography div article a {
  background: #ffffff;
  border-radius: 14px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.4px;
  padding: 11px 10px;
  color: #000000;
}

.photography div article a::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  background-color: #000000;
  border-radius: 50%;
}

.bottom_icons {
  position: absolute;
  right: 40px;
  bottom: 41px;
  display: flex;
  list-style: none;
}

.bottom_icons li {
  margin-left: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}

.bottom_icons li::before {
  content: "";
  display: inline-block;
  background-image: url("../images/img_1.svg");
  width: 16px;
  height: 16px;
  margin-right: 6px;
  position: relative;
  bottom: -6px;
}

.bottom_icons li:nth-child(2):before {
  background-image: url("../images/img_2.svg");
}

.bottom_icons li:nth-child(3):before {
  background-image: url("../images/img_3.svg");
  width: 32px;
}

.bottom_icons li:nth-child(4):before {
  background-image: url("../images/img_4.svg");
  width: 10px;
}

/* tools */

.tools {
  position: relative;
  min-height: 540px;
  background: black;
}

.tools .container {
  margin: auto;
  max-width: 1240px;
  min-height: 540px;
  color: white;
  display: flex;
  align-items: center;
}

.tools article h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-bottom: 6px;
}

.tools article h2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 14px;
}

.tools article p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.tools article a {
  background: #ffffff;
  border-radius: 14px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.4px;
  padding: 11px 10px;
  color: #000000;
}

.tools article a::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 6px;
  background-color: #000000;
  border-radius: 50%;
}

.tools .by_img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/photographer.jpg");
  background-size: cover;
}

/*footer */

footer {
  background-color: black;
  padding: 100px 0;
}

footer .container {
  max-width: 1168px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

footer .container:nth-child(2) {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  padding: 40px 0;
  margin-bottom: 56px;
}

footer .right_first {
  display: flex;
}

footer .right_first ul {
  min-width: 220px;
  margin-left: 15px;
  margin-bottom: 36px;
}

footer .right_first li {
  margin-bottom: 10px;
}

footer .right_first li:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
  list-style: none;
}

footer .right_first a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}

footer .left_first p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
}

footer .left_first a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: #c0c0c0;
}

footer .left_first h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

footer form {
  width: 100%;
  max-width: 458px;
  background: #f9fafb;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6px;
  box-sizing: border-box;
  height: 52px;
}

footer form input {
  line-height: 52px;
  border: none;
  background-color: transparent;
  width: 80%;
}

footer form button {
  width: 63px;
  height: 30px;
  background: #000000;
  border-radius: 11px;
  border: none;
  cursor: pointer;
}

footer .icons {
  display: flex;
  align-items: flex-end;
}

footer .icons li {
  margin-left: 24px;
}
